<template>
  <single-spa-router>
    <main>
      <route default>
        <div>
          <div v-if="isRouteValidForApp('@Jansch/app1')">
            <application name="@Jansch/app1"></application>
          </div>
          <div
            v-if="isRouteValidForApp('@Jansch/searchbar')"
          >
            <application name="@Jansch/searchbar"></application>
          </div>
          <div></div>
        </div>
      </route>
    </main>
  </single-spa-router>
</template>

<script>
export default {
  data() {
    return {
      checkURL: false,
    };
  },
  methods: {
    isRouteValidForApp(appName) {
      // Deine Methode, um die Parameter in der URL zu überprüfen
      // ...
    },
  },
};
</script>
